@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face {
  font-family: myFont;
  src: url('./fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: myFontLight;
  src: url('./fonts/Gilroy-Light.otf');
}

*{
  padding: 0;
  margin: 0;
  box-sizing:content-box;
}

button{
  color: white;
  border: none;
  background-color: #308bf4;
  font-family: myFont;
  padding: 15px 40px;
  font-size: 1.2rem;
  transition: 0.2s ease-in-out;
}


@media (max-width: 530px) {
  button{
      padding: 10px 25px;
      font-size: 0.8rem;
  }
}

@media (max-width: 768px) and (min-width: 530px) {
  button{
      padding: 15px 30px;
      font-size: 1.2rem;
  }
}

button:hover{
  cursor: pointer;
  transform: translateY(-5px);
}